.hero-section {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.current-forecast {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.current-forecast .icon {
    font-size: 50px;
}

.current-forecast .weather {
    font-size: 30px;
    margin: 0;
}

.current-forecast .temperature {
    font-size: 30px;
    margin: 0;
}

.current-city .time, .date {
    margin: 0;
}

.hourly-forecast {
    display: flex;
    justify-content: space-around;
    /* overflow-x: scroll; */
    margin: 20px;
}

.hourly-forecast .hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    /* border-right: 1px solid #ddd; */
}

.hourly-forecast .vertical-line {
    width: 1px;
    border-left: 1px solid #0b0b0b;
    height: auto;
}

.hourly-forecast .vertical-line:last-child {
    border-left: none;
}

.hourly-forecast .hour:last-child {
    border-right: none;
}

.hourly-forecast .hour .icon {
    font-size: 30px;
}

.hourly-forecast .temperature {
    width: max-content;
}