

.location-search {
    position: relative;
}

.location-results {
    position: absolute;
    background-color: white;
    width: max-content;
    border: 1px solid #ccc;
    margin-top: 2px;
    border-radius: 10px;
    padding: 0 10px ;
    right: 0;
}
