

.location-search {
    position: relative;
}

.location-search input {
    width: 10rem;

}

.location-results {
    position: absolute;
    background-color: white;
    width: max-content;
    border: 1px solid #ccc;
    margin-top: 2px;
    border-radius: 10px;
    right: 0;
}

.search-result {
    padding: 2px 10px;
}

.search-result:hover {
    background-color: #ccc;
    /* padding: 5px; */
    cursor: pointer;
}
