

.location-search {
  position: relative;
  /* flex-grow: 1; */
}

.location-results {
  position: absolute;
  background-color: white;
  width: max-content;
  border: 1px solid #2e4ce1;
  margin-top: 10px;
  border-radius: 10px;
  right: 0;
}
/* mobile screen */
@media (max-width: 600px) {
  .location-search {
    width: 100%;
    text-align: center;
  }

  .location-results {
    width: 100%;
  }
}

.search-result {
  padding: 2px 10px;
}

.search-result:hover {
  background-color: #ccc;
  /* padding: 5px; */
  cursor: pointer;
}
