input,
textarea {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid black;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px 0;
}

.card-title {
  font-size: 24px;
  margin: 10px;
}

/* mobile screen breakpoint */
@media (max-width: 600px) {
  .card-title {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.full-screen-wrapper {
  margin: 0 auto;
  width: 80vw;
}

/* mobile screen breakpoint */
@media (max-width: 600px) {
  .full-screen-wrapper {
    width: 100%;
  }
}
